html, body{
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
}
@font-face{
    font-family: 'icons';
    src: url('fonts/icons.woff'),
         url('fonts/icons.eot');
}
#one{
    height: 100vh;
}

#two{
    height: 140vh;
}
#three{
    height: 150vh;
}
#bkg1{
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
#card1{
    background-color: white;
    width: 385px;
    height: 511px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 35px;
    box-shadow: 0px 0px 7px #8c8c8c;
    overflow: hidden;
}
#iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 385px;
    height: 216px;
}
#card1contents{
    display: table;
    width: 75%;
    margin: 50px;
}

#card1contentsh1{
    display: table-row;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0px
}
#card2contentsh1{
    display: table-row;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
#hr{
    margin-top: 200px;
}
#mom{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 385px;
    height: 216px;
}
#card1contentsimg{
    display: table-row;
    margin: auto;
    width: 160px;
}

#card1contentsh2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 25px;
}
#card2contentsh2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 25px;
}

#card1contentsa, h3{
    text-decoration: none;
    background-color: #6c77bc;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    border-radius: 35px;
    width: 282px;
    height: 35px;
    padding-top: 9px;
}

#card1contentssocial{
    font-family: 'icons', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #8c8c8c;
}

br{
    line-height: 150%;
}

a{
    text-decoration: none;
    color: #8c8c8c;
}
a:visited{
    color: #8c8c8c;
}

#gmail:hover{
    color: #d44638;
}
#linkedin:hover{
    color: #0077b5;
}
#twitter:hover{
    color: #08a0e9;
}
#instagram:hover{
    color: #dd2a7b;
}
#github:hover{
    color: #211f1f;
}
#redbubble:hover{
    color: #df1035;
}
#snapchat:hover{
    color: #fffc00;
}
#youtube:hover{
    color: #ff0000;
}
#unsplash:hover{
    color: #000000;
}
#stackoverflow:hover{
    color: #f48024;
}
.title{
    font-family: 'MOntserrat', sans-serif;
    font-weight: 600;
    font-size: 12vmin;
    margin-left: 3vw;
}
.description{
    font-family: 'Montserrat', sans-serif;
    font-size: 6vmin;
    margin-left: 3vw;
    margin-right: 3vw;
    color: #8C8C8C;
}
#creativeskills{
    margin-left: 3vw;
    width: 20vmax;
}

@media only screen and (max-width: 400px){
    #card1{
        background-color: white;
        width: 300px;
        height: 398px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 35px;
        box-shadow: 0px 0px 7px #8c8c8c;
        overflow: hidden;
    }
    #card1contentssocial{
        font-size: 23px;
    }
    #card1contentsa, h3{
        text-decoration: none;
        background-color: #6c77bc;
        margin: auto;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: white;
        border-radius: 35px;
        width: 213px;
        height: 26px;
        padding-top: 6.5px;
    }
    #card1contentsh2{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 11.3px;
        margin-bottom: 18.8px;
    }
    #card2contentsh2{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 11.3px;
        margin-bottom: 18.8px;
    }
    #hr{
        margin-top: 150.7px;
    }
    #card1contents{
        display: table;
        width: 75%;
        margin: 37.7px;
    }
    #card1contentsimg{
        display: table-row;
        margin: auto;
        width: 120.6px;
    }
    #card1contentsh1{
        display: table-row;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 25px;
        padding: 0px
    }
    #card2contentsh1{
        display: table-row;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 600;
    }
    #mom{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 300px;
        height: 169px;
    }
    #iframe{
        width: 300px;
        height: 169px;
    }
}
/* Custom scrollbar. I just copied this from here (https://gist.github.com/devinrhode2/2573411)
/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}
