$light-0: rgb(255, 255, 255);
$light-1: rgb(240, 240, 246);
$light-2: rgb(224, 224, 240);

$dark-0: rgb(43, 44, 48);
$dark-1: rgb(20, 20, 20);
$dark-2: rgb(0, 0, 0);

$blue: rgb(47, 128, 237);
$blue-70: rgb(109, 166, 242);
$blue-50: rgb(151, 191, 246);
$blue-30: rgb(193, 217, 250);
$blue-20: rgb(213, 230, 251);

$red: rgb(235, 87, 87);
$red-70: rgb(241, 137, 137);
$red-50: rgb(245, 171, 171);
$red-30: rgb(249, 205, 205);
$red-20: rgb(251, 221, 221);

$yellow: rgb(242, 201, 76);
$yellow-70: rgb(246, 217, 130);
$yellow-50: rgb(248, 228, 165);
$yellow-30: rgb(251, 239, 201);
$yellow-20: rgb(252, 244, 219);

$orange: rgb(242, 153, 74);
$orange-70: rgb(246, 184, 128);
$orange-50: rgb(248, 204, 164);
$orange-30: rgb(251, 224, 201);
$orange-20: rgb(252, 235, 219);

$purple: rgb(155, 81, 224);
$purple-70: rgb(185, 133, 233);
$purple-50: rgb(205, 168, 239);
$purple-30: rgb(225, 203, 246);
$purple-20: rgb(235, 220, 249);

$green: rgb(45, 219, 115);
$green-70: rgb(108, 230, 157);
$green-50: rgb(150, 237, 185);
$green-30: rgb(192, 244, 213);
$green-20: rgb(213, 248, 227);
