@import "size";
@import "colors";
@import "fonts";

h1,
b {
	font-size: 28px;
	line-height: 33px;
	margin-top: $size;
	margin-bottom: $size;
}

h2 {
	font-size: 28px;
	line-height: 33px;
	margin-top: 0;
	margin-bottom: $size;
}

p {
	font-size: 19px;
	line-height: 24px;
	margin-top: 0;
	margin-bottom: $size;
}

#info {
	width: $size * 8;
	height: $size * 14;
	margin-top: $size;
	display: inline-block;
}

#header {
	width: 100%;
	height: fit-content;
	padding: 0;
	padding-bottom: $size;
	position: relative;
}

#contact {
	width: $size * 5.75;
	height: $size * 1.75;
	line-height: $size * 1.75;
	bottom: $size;
}

[class^="icon-"],
[class*=" icon-"] {
	padding-right: 7px;
}

#download {
	width: $size * 1.75;
	height: $size * 1.75;

	* {
		line-height: $size * 1.75;
	}
}

.button {
	font-size: 19px;
	line-height: 24px;
	border-radius: $size / 2;
	text-align: center !important;
}

#about {
	width: calc(100% - #{$size * 2});
	@media (min-width: 800px) {
		width: $size * 15;
	}
	height: auto;
	margin-top: $size;
	display: inline-block;
	padding: 0;
}

#labels {
	padding: $size;
	width: $size * 9;

	h2 {
		margin: $size;
		margin-left: auto;
		width: $size * 9;
	}

	p {
		margin: auto;
		width: $size * 9;
	}
}

.logo {
	height: $size;
}

#projects {
	width: 100%;
	padding: 0;
	padding-top: 0;

	
	grid-template-columns: repeat(auto-fit, $size * 11);
	column-gap: $size * 2;
	display: inline-grid;

	.project {
		width: $size * 9;
		height: $size * 9;
		margin-bottom: $size;
		margin-top: $size;
		-webkit-tap-highlight-color: transparent;
		user-select: none;

		.gist {
			display: none;
			p {
				font-size: 16px;
			}
		}

		div {
			bottom: 0;
			position: absolute;
			width: $size * 8;
		}

		h2 {
			margin-bottom: $size / 2;
		}

		.material-icons-round {
			line-height: $size;
			position: absolute;
			right: $size;
		}
	}

	.project:not([class*="highlighted"]) {
		.material-icons-round {
			visibility: hidden;
		}
		.material-icons-round::after {
			content: "flip";
			visibility: visible;
		}
	}

	.project:hover:not([class*="highlighted"]) {
		.gist {
			display: block;
			position: absolute;
			height: calc(100% - $size * 2);
			width: $size * 9;
			padding: $size;
			top: 0;
			right: 0;
			border-radius: $size;
			z-index: 99;

			p {
				width: $size * 8;
			}

			h2 {
				width: $size * 8;
			}
		}

		.material-icons-round {
			visibility: visible;
			z-index: 100;
		}

		.material-icons-round::after {
			content: "";
		}
	}

	.project.gist-blue:hover:not([class*="highlighted"]),
	.project.gist-red:hover:not([class*="highlighted"]),
	.project.gist-purple:hover:not([class*="highlighted"]) {
		.material-icons-round {
			color: $light;
		}
	}

	.project:hover:not([class*="highlighted"])::after {
		display: none;
	}

	.project.right:hover {
		.gist {
			right: 0;
			border-radius: $size;
			padding-left: $size;
		}
	}

	.project.right:hover::after {
		border-radius: 0 $size $size 0;
	}

	[class*="gist"]:hover *,
	[class*="gist"]:hover {
		box-shadow: none !important;
	}

	// Gist Colors
	// Blue
	.gist-blue {
		.gist {
			background: $blue;
			color: $light;
		}
	}

	// Green
	.gist-green {
		.gist {
			background: $green;
			color: $dark;
		}
	}

	// Orange
	.gist-orange {
		.gist {
			background: $orange;
			color: $dark;
		}
	}

	// Purple
	.gist-purple {
		.gist {
			background: $purple;
			color: $light;
		}
	}

	// Red
	.gist-red {
		.gist {
			background: $red;
			color: $light;
		}
	}

	.highlighted-horizontal {
		grid-column: auto;
		height: $size * 9;
		width: $size * 9;
	}

	.highlighted-vertical {
		grid-row: auto;
		width: $size * 9;
		height: $size * 9;
	}

	.highlighted-horizontal:not([class*="responsive-background"]), .highlighted-vertical:not([class*="responsive-background"]) {
		background-image: none !important;
	}
}
