@import "colors";
@import "fonts";

// General Styles
// ----------------------------------------

body {
	background: $light-1;
	margin: 0;
	margin: 40px;
}

.card {
	border-radius: 80px;
	overflow: hidden;
	box-sizing: border-box;
}

h1 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 160px;
	line-height: 90%;
	margin: 0;
}

h3 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 90%;
	margin: 0;
}

// Specific Styles
// ----------------------------------------

#kevin {
	width: 960px;
	height: 880px;

	background: $blue-20;
	color: $blue;
	padding: 120px 80px;
}

#pronouns {
	margin-top: 40px;
}
